numpy==1.26.4
pandas==2.2.1
scikit-learn==1.6.1
watchdog==4.0.0
colorama==0.4.6
matplotlib==3.8.3

# Code formatting and linting tools
black==24.2.0
isort==5.13.2
pre-commit==3.6.0
flake8==7.0.0
flake8-docstrings==1.7.0

# Git commit message tools
commitizen==3.15.0
questionary==2.0.1
